body {
    background-color: aquamarine;
    font-size: 16pt;
    margin: 0;
}
#content{
    margin: 8px;
}
#left {
    float: left; /* Левые блоки размещаем слева*/
    width:60%; /* Установка ширины 200 пикселей*/
    height: 400px;
}
#header span {
    float: right; /* Чтобы вариант и фамилию перенести вправо */
    text-align: center;
    margin-right: 20pt;
}

#header a{
    margin: 0.5em;
    padding: 10px;
}
#clear-table{
    margin: auto;
}

#header {
    font-family: serif;
    font-size: 20pt;
    color: green;
    background-color: burlywood;
    height: 2.5em;
    box-sizing: border-box;
    padding: 5px;
}

#right {
    float: right; /* Правые блоки размещаем справа */
    /*margin: auto; *//*Пусть всё будет по центру*/
   /* object-position: center;*/
    text-align: center;
    width:40%; /* Установка ширины 200 пикселей*/
    height: 400px;
}
.img-center {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    /*float: all;*/
    display: block;
}
.pressed{
    background-color: blue;
}

.unpressed{
    background-color: white;
}

#request{
    background-color: cadetblue;
    border-radius: 20%;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    padding: 2px;
}

#answer-table{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: dimgray;
    border: 5px white;
    color: greenyellow;
}

.clear {
    clear: both; /* Отменяем позиционирование (влияние float)*/
}